Link {
    @apply .no-underline;
}

a {
    @apply .no-underline .text-orange;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

header {
    background-image: url("https://images.unsplash.com/photo-1576485055783-a7a5d64192f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2675&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav a {
    @apply .no-underline .text-white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

nav a:hover {
    @apply .no-underline text-grey;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

ul {
    @apply .no-underline text-white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

p {
    @apply .text-white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

body {
    @apply .m-0 .bg-black;
}

h1 {
    @apply .text-grey;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

h1 a {
    @apply .text-white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 60px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    @apply .bg-orange;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }